In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pymongo
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

In [2]:
uri = "mongodb+srv://chithu2404:raji@cluster0.nsdnzaj.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(uri, server_api=ServerApi('1'))
db = client['sample_airbnb']
coll=db['listingsAndReviews']

In [3]:
doc = coll.find({})
list_doc=[]
for i in doc:
    list_doc.append(i)

In [4]:
df = pd.DataFrame(list_doc)
df

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,images,host,address,availability,review_scores,reviews,security_deposit,cleaning_fee,monthly_price,reviews_per_month
0,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",,"Clean, fully furnish, Spacious 1 bedroom flat ...",,,,,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51624384', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '56904633', 'date': 2015-12-19 05:00:...",NaN,NaN,NaN,NaN
1,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,,Here exists a very cozy room for rent in a sha...,,,,,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '11275734', 'host_url': 'https://w...","{'street': 'Brooklyn, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '61050713', 'date': 2016-01-31 05:00:...",NaN,NaN,NaN,NaN
2,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,"The Apartment has a living room, toilet, bedro...","The apartment has a living room, wash room, su...","The Apartment has a living room, toilet, bedro...",Copacabana in the South zone is the district t...,,On the street there is plenty of transport and...,todo o espaço.,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51530266', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 7, 'availability_60': 19, ...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '60037020', 'date': 2016-01-18 05:00:...",600.00,150.00,NaN,NaN
3,10083468,https://www.airbnb.com/rooms/10083468,Be Happy in Porto,Be Happy Apartment is an amazing space. Renova...,Be Happy Apartment is housed in a typical Port...,Be Happy Apartment is an amazing space. Renova...,"""Be happy in Porto"" offers a quality accommod...",,When you arrive at Airport Francisco Sá Carnei...,My guests have acess to all apartment.,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '27518920', 'host_url': 'https://w...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 16, 'availability_60': 40,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '58433009', 'date': 2016-01-02 05:00:...",0.00,10.00,NaN,NaN
4,10066928,https://www.airbnb.com/rooms/10066928,3 chambres au coeur du Plateau,Notre appartement comporte 3 chambres avec cha...,"Notre logement est lumineux, plein de vie et c...",Notre appartement comporte 3 chambres avec cha...,"L'appartement se situe au coeur du Plateau, do...",,L'appartement se situe à égale distance des mé...,Le logement sera disponible en entier pour vot...,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '9036477', 'host_url': 'https://ww...","{'street': 'Montréal, Québec, Canada', 'suburb...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9614181,https://www.airbnb.com/rooms/9614181,Excellent studio Copacabana wi-fi,"Excellent studio in Copacabana, near the beach...","Nicely decorated, with all the furniture , cab...","Excellent studio in Copacabana, near the beach...","In the heart of Copacabana, quite busy place.",- Não são permitidos animais. Respeitar as reg...,Close to public transportation throughout the ...,Access to the entire apartment without restric...,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '15831497', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 16, 'availability_60': 16,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58652157', 'date': 2016-01-03 05:00:...",380.00,120.00,NaN,NaN
5551,9698778,https://www.airbnb.com/rooms/9698778,Prestigious Seaside Apartment,This spectacular modern day apartment is situa...,,This spectacular modern day apartment is situa...,,,,,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '50085110', 'host_url': 'https://w...","{'street': 'Kennedy Town, Hong Kong Island, Ho...","{'availability_30': 0, 'availability_60': 0, '...",{},"[{'_id': '64352382', 'date': 2016-03-03 05:00:...",1000.00,NaN,NaN,NaN
5552,9807529,https://www.airbnb.com/rooms/9807529,Upscale Room in The Plateau by LeQube,"Stylish, modern and chic, leQube apartments ar...",All of our homes are instantly bookable and in...,"Stylish, modern and chic, leQube apartments ar...","The apartment is located in a safe, vibrant, a...",This is a 3 story walk-up and this apartment i...,There is easy access to regular transportation...,"48 hours prior to arrival, you will receive se...",...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '1761366', 'host_url': 'https://ww...","{'street': 'Montréal, Québec, Canada', 'suburb...","{'availability_30': 15, 'availability_60': 30,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '68022587', 'date': 2016-04-01 04:00:...",300.00,49.00,NaN,NaN
5553,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Newly renovated studio flat with full furniture.,,Newly renovated studio flat with full furniture.,,,,,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '31386255', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 18, 'availability_60': 48,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '105800033', 'date': 2016-10-02 04:00...",3000.00,NaN,NaN,NaN
5554,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Relax Hawaiian Style in Gated Community on Oce...,"***NOTE: THE OCEAN INFINITY POOL (""POOL 1""0 WI...",Relax Hawaiian Style in Gated Community on Oce...,Location: Located at the south end of Lahaina ...,Puamana Resort requires a $10/day resort fee w...,You can walk to most attractions within Lahain...,Guests will have access to the 3 pools in the ...,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51013381', 'host_url': 'https://w...","{'street': 'Lahaina, HI, United States', 'subu...","{'availability_30': 0, 'availability_60': 8, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '68762225', 'date': 2016-04-06 04:00:...",200.00,315.00,NaN,NaN

In [5]:
df.head()

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,images,host,address,availability,review_scores,reviews,security_deposit,cleaning_fee,monthly_price,reviews_per_month
0,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",,"Clean, fully furnish, Spacious 1 bedroom flat ...",,,,,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51624384', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '56904633', 'date': 2015-12-19 05:00:...",NaN,NaN,NaN,NaN
1,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,,Here exists a very cozy room for rent in a sha...,,,,,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '11275734', 'host_url': 'https://w...","{'street': 'Brooklyn, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '61050713', 'date': 2016-01-31 05:00:...",NaN,NaN,NaN,NaN
2,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,"The Apartment has a living room, toilet, bedro...","The apartment has a living room, wash room, su...","The Apartment has a living room, toilet, bedro...",Copacabana in the South zone is the district t...,,On the street there is plenty of transport and...,todo o espaço.,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51530266', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 7, 'availability_60': 19, ...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '60037020', 'date': 2016-01-18 05:00:...",600.00,150.00,NaN,NaN
3,10083468,https://www.airbnb.com/rooms/10083468,Be Happy in Porto,Be Happy Apartment is an amazing space. Renova...,Be Happy Apartment is housed in a typical Port...,Be Happy Apartment is an amazing space. Renova...,"""Be happy in Porto"" offers a quality accommod...",,When you arrive at Airport Francisco Sá Carnei...,My guests have acess to all apartment.,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '27518920', 'host_url': 'https://w...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 16, 'availability_60': 40,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '58433009', 'date': 2016-01-02 05:00:...",0.00,10.00,NaN,NaN
4,10066928,https://www.airbnb.com/rooms/10066928,3 chambres au coeur du Plateau,Notre appartement comporte 3 chambres avec cha...,"Notre logement est lumineux, plein de vie et c...",Notre appartement comporte 3 chambres avec cha...,"L'appartement se situe au coeur du Plateau, do...",,L'appartement se situe à égale distance des mé...,Le logement sera disponible en entier pour vot...,...,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '9036477', 'host_url': 'https://ww...","{'street': 'Montréal, Québec, Canada', 'suburb...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN,NaN

In [6]:
data = []
for i in coll.find( {}, {'_id':1,'listing_url':1,'name':1,'property_type':1,'room_type':1,'bed_type':1,
                        'minimum_nights':1,'maximum_nights':1,'cancellation_policy':1,'accommodates':1,
                        'bedrooms':1,'beds':1,'number_of_reviews':1,'bathrooms':1,'price':1,
                        'cleaning_fee':1,'extra_people':1,'guests_included':1,'images.picture_url':1,
                        'review_scores.review_scores_rating':1} ):
    data.append(i)

df = pd.DataFrame(data)
df['images'] = df['images'].apply(lambda x: x['picture_url'])
df['review_scores'] = df['review_scores'].apply(lambda x: x.get('review_scores_rating',0))
df.head()

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included,images,review_scores,cleaning_fee
0,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1.0,2.0,3,1.0,699.00,0.00,1,https://a0.muscache.com/im/pictures/4533a1dc-6...,100,NaN
1,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Apartment,Private room,Real Bed,14,1125,flexible,1,1.0,1.0,1,1.5,40.00,0.00,1,https://a0.muscache.com/im/pictures/72844c8c-f...,100,NaN
2,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,Apartment,Entire home/apt,Real Bed,3,75,strict_14_with_grace_period,4,1.0,3.0,70,2.0,119.00,40.00,3,https://a0.muscache.com/im/pictures/159d489e-6...,98,150.00
3,10083468,https://www.airbnb.com/rooms/10083468,Be Happy in Porto,Loft,Entire home/apt,Real Bed,2,1125,moderate,2,1.0,1.0,178,1.0,30.00,0.00,1,https://a0.muscache.com/im/pictures/9420dabf-6...,97,10.00
4,10066928,https://www.airbnb.com/rooms/10066928,3 chambres au coeur du Plateau,Apartment,Entire home/apt,Real Bed,1,1125,flexible,6,3.0,3.0,0,1.0,140.00,0.00,1,https://a0.muscache.com/im/pictures/f208bdd7-b...,0,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   _id                  5555 non-null   object
 1   listing_url          5555 non-null   object
 2   name                 5555 non-null   object
 3   property_type        5555 non-null   object
 4   room_type            5555 non-null   object
 5   bed_type             5555 non-null   object
 6   minimum_nights       5555 non-null   object
 7   maximum_nights       5555 non-null   object
 8   cancellation_policy  5555 non-null   object
 9   accommodates         5555 non-null   int64
 10  bedrooms             5550 non-null   float64
 11  beds                 5542 non-null   float64
 12  number_of_reviews    5555 non-null   int64
 13  bathrooms            5545 non-null   object
 14  price                5555 non-null   object
 15  extra_people         5555 non-null   object
 16  guests_included      5555 non-null   object
 17  images               5555 non-null   object
 18  review_scores        5555 non-null   int64
 19  cleaning_fee         4024 non-null   object
dtypes: float64(2), int64(3), object(15)
memory usage: 868.1+ KB

In [11]:
df.isnull().sum()

_id                       0
listing_url               0
name                      0
property_type             0
room_type                 0
bed_type                  0
minimum_nights            0
maximum_nights            0
cancellation_policy       0
accommodates              0
bedrooms                  5
beds                     13
number_of_reviews         0
bathrooms                10
price                     0
extra_people              0
guests_included           0
images                    0
review_scores             0
cleaning_fee           1531
dtype: int64

In [12]:
df['bedrooms'].fillna(0, inplace=True)
df['beds'].fillna(0, inplace=True)
df['bathrooms'].fillna(0, inplace=True)
df['cleaning_fee'].fillna('Not Specified', inplace=True)
df.isnull().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
price                  0
extra_people           0
guests_included        0
images                 0
review_scores          0
cleaning_fee           0
dtype: int64

In [13]:
df.shape

(5555, 20)

In [14]:
df.describe()

,accommodates,bedrooms,beds,number_of_reviews,review_scores
count,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000
mean,3.505851,1.410441,2.066607,27.606481,68.395680
std,2.297019,1.042334,1.620858,49.798376,41.829834
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,1.000000,1.000000,0.000000
50%,3.000000,1.000000,2.000000,5.000000,92.000000
75%,4.000000,2.000000,3.000000,32.000000,98.000000
max,16.000000,20.000000,25.000000,533.000000,100.000000

In [15]:
df.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights          object
maximum_nights          object
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms               object
price                   object
extra_people            object
guests_included         object
images                  object
review_scores            int64
cleaning_fee            object
dtype: object

In [16]:
df['minimum_nights'] = df['minimum_nights'].astype(int)
df['maximum_nights'] = df['maximum_nights'].astype(int)
df['bedrooms'] = df['bedrooms'].astype(int)
df['beds'] = df['beds'].astype(int)
df['bathrooms'] = df['bathrooms'].astype(str).astype(float)
df['price'] = df['price'].astype(str).astype(float).astype(int)
df['cleaning_fee'] = df['cleaning_fee'].apply(lambda x: int(float(str(x))) if x != 'Not Specified' else 'Not Specified')
df['extra_people'] = df['extra_people'].astype(str).astype(float).astype(int)
df['guests_included'] = df['guests_included'].astype(str).astype(int)

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
minimum_nights,5555.0,5.564356e+00,2.261386e+01,1.0,1.0,2.0,3.0,1.250000e+03
maximum_nights,5555.0,1.382776e+06,5.256920e+07,1.0,59.0,1125.0,1125.0,2.147484e+09
accommodates,5555.0,3.505851e+00,2.297019e+00,1.0,2.0,3.0,4.0,1.600000e+01
bedrooms,5555.0,1.410441e+00,1.042334e+00,0.0,1.0,1.0,2.0,2.000000e+01
beds,5555.0,2.066607e+00,1.620858e+00,0.0,1.0,2.0,3.0,2.500000e+01
number_of_reviews,5555.0,2.760648e+01,4.979838e+01,0.0,1.0,5.0,32.0,5.330000e+02
bathrooms,5555.0,1.288839e+00,7.037643e-01,0.0,1.0,1.0,1.0,1.600000e+01
price,5555.0,2.787662e+02,8.422155e+02,9.0,70.0,129.0,280.0,4.884200e+04
extra_people,5555.0,2.279190e+01,6.933151e+01,0.0,0.0,0.0,20.0,2.346000e+03
guests_included,5555.0,1.747435e+00,1.487352e+00,1.0,1.0,1.0,2.0,1.600000e+01
review_scores,5555.0,6.839568e+01,4.182983e+01,0.0,0.0,92.0,98.0,1.000000e+02

In [20]:
host = []
for i in coll.find( {}, {'_id':1, 'host':1}):
    host.append(i)

df_host = pd.DataFrame(host)
host_keys = list(df_host.iloc[0,1].keys())
host_keys.remove('host_about')

for i in host_keys:
    if i == 'host_response_time':
        df_host['host_response_time'] = df_host['host'].apply(lambda x: x['host_response_time'] if 'host_response_time' in x else 'Not Specified')
    else:
        df_host[i] = df_host['host'].apply(lambda x: x[i] if i in x and x[i]!='' else 'Not Specified')

df_host.drop(columns=['host'], inplace=True)
df_host.head()

,_id,host_id,host_url,host_name,host_location,host_thumbnail_url,host_picture_url,host_neighbourhood,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,False,True,False,1,1,"[email, phone, reviews, jumio, government_id]"
1,10021707,11275734,https://www.airbnb.com/users/show/11275734,Josh,"New York, New York, United States",https://a0.muscache.com/im/users/11275734/prof...,https://a0.muscache.com/im/users/11275734/prof...,Bushwick,False,True,True,1,1,"[email, phone, reviews, kba]"
2,10038496,51530266,https://www.airbnb.com/users/show/51530266,Ana Valéria,"Rio de Janeiro, State of Rio de Janeiro, Brazil",https://a0.muscache.com/im/pictures/8c7bb5fe-7...,https://a0.muscache.com/im/pictures/8c7bb5fe-7...,Copacabana,True,True,True,2,2,"[email, phone, reviews, jumio, government_id]"
3,10083468,27518920,https://www.airbnb.com/users/show/27518920,Fábio,"São Félix da Marinha, Porto, Portugal",https://a0.muscache.com/im/pictures/user/30283...,https://a0.muscache.com/im/pictures/user/30283...,Not Specified,True,True,True,3,3,"[email, phone, reviews, manual_offline, jumio,..."
4,10066928,9036477,https://www.airbnb.com/users/show/9036477,Margaux,"Montreal, Quebec, Canada",https://a0.muscache.com/im/users/9036477/profi...,https://a0.muscache.com/im/users/9036477/profi...,Le Plateau,False,True,False,2,2,"[email, phone, reviews, work_email]"

In [21]:
df_host['host_is_superhost'] = df_host['host_is_superhost'].map({False:'No',True:'Yes'})
df_host['host_has_profile_pic'] = df_host['host_has_profile_pic'].map({False:'No',True:'Yes'})
df_host['host_identity_verified'] = df_host['host_identity_verified'].map({False:'No',True:'Yes'})
df_host.head()

,_id,host_id,host_url,host_name,host_location,host_thumbnail_url,host_picture_url,host_neighbourhood,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,No,Yes,No,1,1,"[email, phone, reviews, jumio, government_id]"
1,10021707,11275734,https://www.airbnb.com/users/show/11275734,Josh,"New York, New York, United States",https://a0.muscache.com/im/users/11275734/prof...,https://a0.muscache.com/im/users/11275734/prof...,Bushwick,No,Yes,Yes,1,1,"[email, phone, reviews, kba]"
2,10038496,51530266,https://www.airbnb.com/users/show/51530266,Ana Valéria,"Rio de Janeiro, State of Rio de Janeiro, Brazil",https://a0.muscache.com/im/pictures/8c7bb5fe-7...,https://a0.muscache.com/im/pictures/8c7bb5fe-7...,Copacabana,Yes,Yes,Yes,2,2,"[email, phone, reviews, jumio, government_id]"
3,10083468,27518920,https://www.airbnb.com/users/show/27518920,Fábio,"São Félix da Marinha, Porto, Portugal",https://a0.muscache.com/im/pictures/user/30283...,https://a0.muscache.com/im/pictures/user/30283...,Not Specified,Yes,Yes,Yes,3,3,"[email, phone, reviews, manual_offline, jumio,..."
4,10066928,9036477,https://www.airbnb.com/users/show/9036477,Margaux,"Montreal, Quebec, Canada",https://a0.muscache.com/im/users/9036477/profi...,https://a0.muscache.com/im/users/9036477/profi...,Le Plateau,No,Yes,No,2,2,"[email, phone, reviews, work_email]"

In [22]:
df_host.isnull().sum()

_id                          0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
dtype: int64

In [23]:
df_host.dtypes

_id                          object
host_id                      object
host_url                     object
host_name                    object
host_location                object
host_thumbnail_url           object
host_picture_url             object
host_neighbourhood           object
host_is_superhost            object
host_has_profile_pic         object
host_identity_verified       object
host_listings_count           int64
host_total_listings_count     int64
host_verifications           object
dtype: object

In [24]:
address = []
for i in coll.find( {}, {'_id':1, 'address':1}):
    address.append(i)

df_address = pd.DataFrame(address)
address_keys = list(df_address.iloc[0,1].keys())

for i in address_keys:
    if i == 'location':
        df_address['location_type'] = df_address['address'].apply(lambda x: x['location']['type'])
        df_address['longitude'] = df_address['address'].apply(lambda x: x['location']['coordinates'][0])
        df_address['latitude'] = df_address['address'].apply(lambda x: x['location']['coordinates'][1])
        df_address['is_location_exact'] = df_address['address'].apply(lambda x: x['location']['is_location_exact'])
    else:
        df_address[i] = df_address['address'].apply(lambda x: x[i] if x[i]!='' else 'Not Specified')

df_address.drop(columns=['address'], inplace=True)
df_address.head()

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10059872,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.150270,22.281580,True
1,10021707,"Brooklyn, NY, United States",Brooklyn,Bushwick,New York,United States,US,Point,-73.936150,40.697910,True
2,10038496,"Rio de Janeiro, Rio de Janeiro, Brazil",Copacabana,Copacabana,Rio De Janeiro,Brazil,BR,Point,-43.190849,-22.984339,False
3,10083468,"Porto, Porto, Portugal",Not Specified,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.611230,41.152250,False
4,10066928,"Montréal, Québec, Canada",Le Plateau-Mont-Royal,Le Plateau-Mont-Royal,Montreal,Canada,CA,Point,-73.573830,45.522330,True

In [25]:
df_address['is_location_exact'] = df_address['is_location_exact'].map({False:'No',True:'Yes'})
df_address.head()

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10059872,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.150270,22.281580,Yes
1,10021707,"Brooklyn, NY, United States",Brooklyn,Bushwick,New York,United States,US,Point,-73.936150,40.697910,Yes
2,10038496,"Rio de Janeiro, Rio de Janeiro, Brazil",Copacabana,Copacabana,Rio De Janeiro,Brazil,BR,Point,-43.190849,-22.984339,No
3,10083468,"Porto, Porto, Portugal",Not Specified,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.611230,41.152250,No
4,10066928,"Montréal, Québec, Canada",Le Plateau-Mont-Royal,Le Plateau-Mont-Royal,Montreal,Canada,CA,Point,-73.573830,45.522330,Yes

In [26]:
df_address.isnull().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [27]:
df_address.dtypes

_id                   object
street                object
suburb                object
government_area       object
market                object
country               object
country_code          object
location_type         object
longitude            float64
latitude             float64
is_location_exact     object
dtype: object

In [28]:
availability = []
for i in coll.find( {}, {'_id':1, 'availability':1}):
    availability.append(i)

df_availability = pd.DataFrame(availability)
availability_keys = list(df_availability.iloc[0,1].keys())

for i in availability_keys:
    df_availability['availability_30'] = df_availability['availability'].apply(lambda x: x['availability_30'])
    df_availability['availability_60'] = df_availability['availability'].apply(lambda x: x['availability_60'])
    df_availability['availability_90'] = df_availability['availability'].apply(lambda x: x['availability_90'])
    df_availability['availability_365'] = df_availability['availability'].apply(lambda x: x['availability_365'])

df_availability.drop(columns=['availability'], inplace=True)
df_availability.head()

,_id,availability_30,availability_60,availability_90,availability_365
0,10059872,0,0,0,0
1,10021707,0,0,0,0
2,10038496,7,19,33,118
3,10083468,16,40,67,335
4,10066928,0,0,0,0

In [29]:
df_availability.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [30]:
df_availability.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

In [31]:
def amenities_sort(x):
    a = x
    a.sort(reverse=False)
    return a

amenities = []
for i in coll.find( {}, {'_id':1, 'amenities':1}):
    amenities.append(i)

df_amenities = pd.DataFrame(amenities)
df_amenities['amenities'] = df_amenities['amenities'].apply(lambda x: amenities_sort(x))
df_amenities.head()

        _id                                          amenities
0  10059872  [24-hour check-in, Air conditioning, Doorman, ...
1  10021707  [Air conditioning, Buzzer/wireless intercom, C...
2  10038496  [Air conditioning, Bed linens, Buzzer/wireless...
3  10083468  [Accessible-height bed, Bed linens, Cable TV, ...
4  10066928  [Dryer, Essentials, Family/kid friendly, Hair ...

In [32]:
df_amenities.isnull().sum()

_id          0
amenities    0
dtype: int64

In [33]:
df_amenities.dtypes

_id          object
amenities    object
dtype: object

In [34]:
df = pd.merge(df, df_host, on='_id')
df = pd.merge(df, df_address, on='_id')
df = pd.merge(df, df_availability, on='_id')
df = pd.merge(df, df_amenities, on='_id')
df.head(3)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,...,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities
0,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,...,HK,Point,114.150270,22.281580,Yes,0,0,0,0,"[24-hour check-in, Air conditioning, Doorman, ..."
1,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Apartment,Private room,Real Bed,14,1125,flexible,1,...,US,Point,-73.936150,40.697910,Yes,0,0,0,0,"[Air conditioning, Buzzer/wireless intercom, C..."
2,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,Apartment,Entire home/apt,Real Bed,3,75,strict_14_with_grace_period,4,...,BR,Point,-43.190849,-22.984339,No,7,19,33,118,"[Air conditioning, Bed linens, Buzzer/wireless..."

In [35]:
df

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,...,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities
0,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,...,HK,Point,114.150270,22.281580,Yes,0,0,0,0,"[24-hour check-in, Air conditioning, Doorman, ..."
1,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Apartment,Private room,Real Bed,14,1125,flexible,1,...,US,Point,-73.936150,40.697910,Yes,0,0,0,0,"[Air conditioning, Buzzer/wireless intercom, C..."
2,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,Apartment,Entire home/apt,Real Bed,3,75,strict_14_with_grace_period,4,...,BR,Point,-43.190849,-22.984339,No,7,19,33,118,"[Air conditioning, Bed linens, Buzzer/wireless..."
3,10083468,https://www.airbnb.com/rooms/10083468,Be Happy in Porto,Loft,Entire home/apt,Real Bed,2,1125,moderate,2,...,PT,Point,-8.611230,41.152250,No,16,40,67,335,"[Accessible-height bed, Bed linens, Cable TV, ..."
4,10066928,https://www.airbnb.com/rooms/10066928,3 chambres au coeur du Plateau,Apartment,Entire home/apt,Real Bed,1,1125,flexible,6,...,CA,Point,-73.573830,45.522330,Yes,0,0,0,0,"[Dryer, Essentials, Family/kid friendly, Hair ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9614181,https://www.airbnb.com/rooms/9614181,Excellent studio Copacabana wi-fi,Apartment,Entire home/apt,Real Bed,2,120,strict_14_with_grace_period,3,...,BR,Point,-43.186335,-22.970217,Yes,16,16,17,282,"[24-hour check-in, Air conditioning, Cable TV,..."
5551,9698778,https://www.airbnb.com/rooms/9698778,Prestigious Seaside Apartment,Apartment,Entire home/apt,Real Bed,4,1125,flexible,2,...,HK,Point,114.119710,22.280330,Yes,0,0,0,0,"[24-hour check-in, Air conditioning, Buzzer/wi..."
5552,9807529,https://www.airbnb.com/rooms/9807529,Upscale Room in The Plateau by LeQube,Serviced apartment,Private room,Real Bed,2,224,strict_14_with_grace_period,2,...,CA,Point,-73.574530,45.523240,Yes,15,30,31,100,"[Accessible-height bed, Accessible-height toil..."
5553,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Apartment,Private room,Real Bed,3,1125,flexible,1,...,HK,Point,114.207220,22.291570,No,18,48,78,353,"[24-hour check-in, Air conditioning, Elevator,..."
5554,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,6,...,US,Point,-156.667520,20.858940,No,0,8,31,258,"[Air conditioning, Dryer, Essentials, Family/k..."

In [36]:
df.to_csv('airbnb.csv')